@page "/car/create"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="model.Name" />
            <label>Seatbelts</label>
            <InputNumber class="form-control" @bind-Value="model.Seatbelts" />
            <label>Make</label>
            <InputText class="form-control" @bind-Value="model.Make" />
            <label>Model</label>
            <InputText class="form-control" @bind-Value="model.Model" />
            <label>Year</label>
            <InputNumber class="form-control" @bind-Value="model.Year" />
            <label>Notes</label>
            <InputText class="form-control" @bind-Value="model.Notes" />


            
            <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
        </div>
    </EditForm> 
</div>

@code{
    private CarCreate model = new();
    private string errorMessage;
    private async void HandleSubmit()
    {
        var createRes = await http.PostAsJsonAsync<CarCreate>("/api/car", model);
        if (createRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/car");
        }
        else
        {
            errorMessage = "Could not add the car at this time. Please try again later.";
        }
    }
}

