@page "/car"
@attribute [Authorize]
@inject HttpClient http

<h3>Cars</h3>
<a href="/car/create">Add a car</a>
@if (_cars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in _cars)
            {
                <tr>
                    <td>@car.CarId</td>
                    <td>@car.Name</td>
                    <td>
                        <a href=@($"car/{car.CarId}")>Details    |</a>
                        <a href=@($"car/edit/{car.CarId}")>Edit    |</a>
                        <a href=@($"car/delete/{car.CarId}")>Delete</a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
}

@code {
    private List<CarListItem> _cars;
    protected override async Task OnInitializedAsync()
    {
        _cars = await http.GetFromJsonAsync<List<CarListItem>>("api/car"); 
    }
}
