@page "/car"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h3 class="text-primary">Active Cars</h3>
<a class="text-success" href="/car/create">Add a Car   |</a>
<a class="text-danger" href="/car/inactive">View Inactive Cars   |</a>
<a class="text-info" href="/car/all">View All Cars</a>
<hr />
@if (_cars == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in _cars)
            {
                @if (car.Inactive == false)
                {
                    <tr>
                        <td>@car.CarId</td>
                        <td>@car.Name</td>
                        <td>
                            <a href=@($"car/{car.CarId}") class="btn btn-outline-info">Details</a>
                            <span style="width: 5px"></span>
                            <a href=@($"car/edit/{car.CarId}") class="btn btn-outline-secondary">Edit</a>
                            <span style="width: 5px"></span>
                            <button class="btn btn-danger" @onclick="() => ToggleActive(car)">Deactivate</button>
                            <span style="width: 5px"></span>
                            <a href=@($"/car/team/{car.CarId}") class="btn btn-outline-success">Assign to Team</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
<a href=@($"/") class="btn btn-primary btn-block btn-lg">Home</a>

@code {
    private List<CarListItem> _cars;
    private string ErrorMessage { get;  set; }
    protected override async Task OnInitializedAsync()
    {
        _cars = await http.GetFromJsonAsync<List<CarListItem>>("api/car"); 
    }

    private async void ToggleActive(CarListItem car)
    {
        car.Inactive = !car.Inactive;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/car/active/{car.CarId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/car/"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }
}
