@page "/canvasser/car/{CanvasserId:int}"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation


<h3>Add to Car</h3>


@if (ErrorMessage != null)
{
    <h5 class="text-danger">@ErrorMessage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Which car ID?</label>
            <InputNumber class="form-control" @bind-Value="model.CarId" />
            
            <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
        </div>
    </EditForm> 
</div>

@code {
    [Parameter]
    public int CanvasserId { get; set; }
    private CanvasserAddToCar model = new CanvasserAddToCar();
    private string ErrorMessage { get; set; }
    protected override async Task OnInitializedAsync()
    {
        model = await http.GetFromJsonAsync<CanvasserAddToCar>($"/api/canvasser/{CanvasserId}");
    }
    private async void HandleSubmit()
    {
        var editRes = await http.PutAsJsonAsync<CanvasserAddToCar>($"/api/canvasser/car/{CanvasserId}", model);
        if(editRes.IsSuccessStatusCode) { navigation.NavigateTo($"/car/{model.CarId}"); }
        else { ErrorMessage = "Could add this canvasser to the car. Please try again."; }
    }
}
