@page "/canvasser/create"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

@if (errorMessage != null)
{
    <h5 class="text-danger">@errorMessage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="model.Name" />
            <label>Work Phone Number</label>
            <InputText class="form-control" @bind-Value="model.Phone" />
            <label>Personal Phone Number</label>
            <InputText class="form-control" @bind-Value="model.AltPhone" />
            <label>In training?</label>
            <InputCheckbox class="form-control" @bind-Value="model.IsTraining" />
            <label>Authorized to drive?</label>
            <InputCheckbox class="form-control" @bind-Value="model.IsDriver" />
            <label>Team leader?</label>
            <InputCheckbox class="form-control" @bind-Value="model.IsLeader" />
            <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
        </div>
    </EditForm> 
</div>

@code{
    private CanvasserCreate model = new();
    private string errorMessage;
    private async void HandleSubmit()
    {
        var createRes = await http.PostAsJsonAsync<CanvasserCreate>("/api/canvasser", model);
        if (createRes.IsSuccessStatusCode)
        {
            navigation.NavigateTo("/canvasser");
        }
        else
        {
            errorMessage = "Could not add the canvasser at this time. Please try again later.";
        }
    }
}

