@page "/canvasser/edit/{CanvasserId:int}"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation


<h3 class="text-center">Edit Canvasser: @Model.Name</h3>


@if (ErrorMessage != null)
{
    <h5 class="text-danger">@ErrorMessage</h5>
}

<div class="container">
    <EditForm Model="@Model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group text-center">
            <label>Name: <InputText class="form-control" @bind-Value="Model.Name" /></label>
            <hr />
            <label>Work Phone Number<InputText class="form-control" @bind-Value="Model.Phone" /></label>
            <hr />
            <label>Personal Phone Number<InputText class="form-control" @bind-Value="Model.AltPhone" /></label>
            <hr />
            <label>In training?<InputCheckbox class="form-control" @bind-Value="Model.IsTraining" /></label>
            <hr />
            <label>Authorized to drive?<InputCheckbox class="form-control" @bind-Value="Model.IsDriver" /></label>
            <hr />
            <label>Team leader?<InputCheckbox class="form-control" @bind-Value="Model.IsLeader" /></label>
            <hr />
            <label>Is absent?<InputCheckbox class="form-control" @bind-Value="Model.IsAbsent" /></label>
            <hr />
            <label>Is inactive?<InputCheckbox class="form-control" @bind-Value="Model.IsActive" /></label>
            <hr />
            <label>Notes</label>
            <InputText class="form-control" @bind-Value="Model.Notes" />
            
            <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
        </div>
    </EditForm> 
    <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/canvasser/delete/{CanvasserId}") class="btn btn-outline-danger">Delete</a>
                <a href=@($"/canvasser/team/{CanvasserId}") class="btn btn-outline-success">Add to Team</a>
                <a href=@($"/canvasser/car/{CanvasserId}") class="btn btn-outline-success">Add to Car</a>
                <a href=@($"/canvasser/site/{CanvasserId}") class="btn btn-outline-success">Add to Site</a>
                <hr />
                <a href="/canvasser">Back to List of Canvassers</a>
            </div>
        </div>
</div>

@code {
    [Parameter]
    public int CanvasserId { get; set; }
    private CanvasserEdit Model = new CanvasserEdit();
    private string ErrorMessage { get;  set; }
    protected override async Task OnInitializedAsync()
    {
        Model = await http.GetFromJsonAsync<CanvasserEdit>($"/api/canvasser/{CanvasserId}");
    }
    private async void HandleSubmit()
    {
        var editRes = await http.PutAsJsonAsync<CanvasserEdit>($"/api/canvasser/edit/{CanvasserId}", Model);
        if(editRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/{CanvasserId}"); }
        else { ErrorMessage = "Could not edit this canvasser. Please try again."; }
    }
}
