@page "/canvasser/team/{CanvasserId:int}"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation


<h3>Add to Team</h3>


@if (ErrorMessage != null)
{
    <h5 class="text-danger">@ErrorMessage</h5>
}

<div class="container">
    <EditForm Model="@model" OnValidSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label>Which team ID?</label>
            <InputNumber class="form-control" @bind-Value="model.TeamId" />
            
            <button type="submit" class="btn btn-primary btn-block mt-5">Submit</button>
        </div>
    </EditForm> 
</div>

@code {
    [Parameter]
    public int CanvasserId { get; set; }
    private CanvasserAddToTeam model = new CanvasserAddToTeam();
    private string ErrorMessage { get;  set; }
    protected override async Task OnInitializedAsync()
    {
        model = await http.GetFromJsonAsync<CanvasserAddToTeam>($"/api/canvasser/{CanvasserId}");
    }
    private async void HandleSubmit()
    {
        var editRes = await http.PutAsJsonAsync<CanvasserAddToTeam>($"/api/canvasser/team/{CanvasserId}", model);
        if(editRes.IsSuccessStatusCode) { navigation.NavigateTo($"/canvasser/{CanvasserId}"); }
        else { ErrorMessage = "Could not edit this canvasser. Please try again."; }
    }
}
