@page "/site"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h3 class="text-primary" >Active Sites</h3>
<a class="text-success" href="/site/create">Add a Site   |</a>
<a class="text-danger" href="/site/inactive">View Inactive Sites   |</a>
<a class="text-info" href="/site/all">View All Sites</a>
<hr />
@if (_sites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in _sites)
            @if (site.Inactive == false)
                    {
                        {
                            <tr>
                                <td>@site.SiteId</td>
                        <td>@site.Name</td>
                        <td>
                            <a href=@($"site/{site.SiteId}") class="btn btn-outline-info">Details</a>
                            <span style="width: 5px"></span>
                            <a href=@($"site/edit/{site.SiteId}") class="btn btn-outline-secondary">Edit</a>
                            <span style="width: 5px"></span>
                            <button class="btn btn-danger" @onclick="() => ToggleActive(site)">Deactivate</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
<a href=@($"/") class="btn btn-primary btn-block btn-lg">Home</a>

@code {
    private List<SiteListItem> _sites;
    private string ErrorMessage { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _sites = await http.GetFromJsonAsync<List<SiteListItem>>("api/site"); 
    }

    private async void ToggleActive(SiteListItem site)
    {
        site.Inactive = !site.Inactive;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/site/active/{site.SiteId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/site/"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }
}
