@page "/site"
@attribute [Authorize]
@inject HttpClient http

<h3>Site</h3>
<a href="/site/create">Add a site</a>
@if (_sites == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var site in _sites)
            {
                <tr>
                    <td>@site.SiteId</td>
                    <td>@site.Name</td>
                    <td>
                        <a href=@($"site/{site.SiteId}") class="btn btn-outline-info">Details</a>
                        <a href=@($"site/edit/{site.SiteId}") class="btn btn-outline-secondary">Edit</a>
                        <a href=@($"site/delete/{site.SiteId}") class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
}

@code {
    private List<SiteListItem> _sites;
    protected override async Task OnInitializedAsync()
    {
        _sites = await http.GetFromJsonAsync<List<SiteListItem>>("api/site"); 
    }
}
