@page "/team/inactive"
@attribute [Authorize]
@inject HttpClient http
@inject NavigationManager navigation

<h3 class="text-danger">Inactive Teams</h3>
<a class="text-success" href="/team/create">Add a Team   |</a>
<a href="/team/">View Active Teams   |</a>
<a class="text-info" href="/team/all">View All Teams</a>
<hr />
@if (_teams == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table text-white">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var team in _teams)
            {
                @if (team.IsActive == true)
                {
                    <tr>
                        <td>@team.TeamId</td>
                        <td>@team.Name</td>
                        <td>
                            <a href=@($"team/{team.TeamId}") class="btn btn-outline-info">Details</a>
                            <a href=@($"team/edit/{team.TeamId}") class="btn btn-outline-secondary">Edit</a>
                            <a href=@($"team/delete/{team.TeamId}") class="btn btn-outline-danger">Delete</a>
                            <a class="btn btn-outline-danger" @onclick="() => ToggleActive(team)">Activate</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    private List<TeamListItem> _teams;
    private string ErrorMessage { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _teams = await http.GetFromJsonAsync<List<TeamListItem>>("api/team"); 
    }

    private async void ToggleActive(TeamListItem team)
    {
        team.IsActive = !team.IsActive;
        var toggleRes = await http.PutAsJsonAsync<object>($"api/team/active/{team.TeamId}", new());
        if(toggleRes.IsSuccessStatusCode) { navigation.NavigateTo($"/team/inactive"); }
        else { ErrorMessage = "Could not modify this canvasser. Please try again."; }
    }
}
