@page "/"
@attribute [Authorize]
@inject HttpClient http

<div class="d-flex justify-content-center mt-3">

<h1>Welcome to CanvassPlan.</h1>

</div>

<hr />

<div class="d-flex justify-content-center mt-3">
    
            <div class="text-center justify-content-between w-25">
                <a href=@($"/generate") class="btn btn-outline-success btn-block btn-lg">Generate Plan</a>
                <hr />
                <a href=@($"/clear") class="btn btn-outline-danger btn-block btn-lg">Archive Teams</a>
                <hr />
                <a href=@($"/team") class="btn btn-outline-primary btn-block btn-lg">View Active Teams</a>
                <hr />
                <a href=@($"/canvasser") class="btn btn-outline-info btn-block btn-lg">View Active Canvassers</a>
                <hr />
                <a href=@($"/car") class="btn btn-outline-warning btn-block btn-lg">View Active Cars</a>
                <hr />
                <a href=@($"/site") class="btn btn-outline-secondary btn-block btn-lg">View Active Sites</a>
                
            </div>
        </div>


@code {
    
}











