@page "/"
@attribute [Authorize]
@inject HttpClient http

<div class="d-flex justify-content-center mt-3">

<h1>Welcome to CanvassPlan.</h1>

</div>

<hr />

<div class="d-flex justify-content-center mt-3">
    
            <div class="text-center justify-content-between w-25">
                <a href=@($"/generate") class="btn btn-outline-primary btn-block btn-lg">Generate Plan</a>
                <a href=@($"/clear") class="btn btn-outline-danger btn-block btn-lg">Clear Teams</a>
            </div>
        </div>


@code {
    private List<TeamListItem> _teams;
    protected override async Task OnInitializedAsync()
    {
        _teams = await http.GetFromJsonAsync<List<TeamListItem>>("api/team"); 
    }
}









