@page "/"
@attribute [Authorize]
@inject HttpClient http

<div class="d-flex justify-content-center mt-3">

<h1>Welcome to CanvassPlan.</h1>

</div>

<hr />

<div class="d-flex justify-content-center mt-3">
    
            <div class="text-center justify-content-between w-25">
                <a href=@($"/generate") class="btn btn-outline-success btn-block btn-lg">Generate Teams</a>
                <a href=@($"/clear") class="btn btn-outline-danger btn-block btn-lg">Reset Teams</a>
                <a href=@($"/team") class="btn btn-outline-primary btn-block btn-lg">View Active Teams</a>
            </div>
        </div>


@code {
    
}











